<div class="container-fluid hero-section">
    <header class="header mt-1">
        <button type="button" [routerLink]="['/login']" class="btn btn-signin mt-2"
            style="position: relative; top: 40px; margin-left:1300px;">Sign
            In</button>      <a [routerLink]="['/admin']">admin</a>

        <h1 class="display-1 text-center text-red mt-0  " style="margin-right: 1100px;margin-top: 2px;">CineFlix</h1>
    </header>
    <div class="hero-content text-white text-center mt-4">
        <h1 style="font-size: 65px;font-weight: bold;margin-top: 50px;">Unlimited movies,<br> TV shows, and more</h1>
        <p>Starts at USD 2.99.Cancel anytime.</p>
       
    </div>
    
            
       
    <div class="row" style="margin-bottom: 180px;">


        <p class="fs-6" style="margin-top: 2px; text-align: center;">Ready to watch? Enter your email to create or restart your membership.</p>
        <div class="col-6 mt-1" style="text-align: center;">
   
    <div class="form-overlay" style="margin-top: 45px;">
        <form [formGroup]="loginForm">
            <div class="p-0">
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" formControlName="email">
                <div *ngIf="loginForm.controls['email'].touched">
                    <p class="text-white fs-6" *ngIf="loginForm.controls['email'].hasError('required')">This Field is required</p>
                    <p class="text-white fs-6" *ngIf="loginForm.controls['email'].hasError('emailNoAt')">Email must contain the &#64; symbol.</p>
                </div>
            </div>
        </form>
    </div>
</div>

        <div class="col-6 mt-5">
            <div class="div-btn ">
                <button type="button" class="btn-get" [routerLink]="['/register']" >Get
                    Started   ></button>
            </div>
    
        </div>
        
    </div>
</div>

<hr style="color: red;margin: 0.02rem;width: 0.02rem;border-radius: 500px;">

<div class="div-img" style="background: radial-gradient(circle, rgb(10, 2, 49) 30%, black 90%);">



    <h1 class="text-white p-4"> Trending Now</h1>
    <div class="image-cards-container ">
        <div class="image-card">
            <img src="GOAT.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="Amaran.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="DemonyColony.jpg" alt="Image 3">

        </div>
        <div class="image-card">
            <img src="Thunivu.jpg" alt="Image 4">

        </div>
        <div class="image-card">
            <img src="Maharaja.jpg" alt="Image 5">

        </div>
        <div class="image-card">
            <img src="Kanguva.jpg" alt="Image 3">

        </div>


    </div>
</div>
<hr style="color: red;margin: 0.02rem;width: 0.02rem;border-radius: 500px;">
<div class="div">






    <section class="  p-4" id="reviews">

        <h1 class="text-white">Customer Review</h1>

        <div class="container text-white">
            <div class="reviews-container">
                <div class="box">
                    <div class="rev-img">
                        <img src="OIP.jpg" alt="" style="border-radius: 50%; width: 150px;height: 150px;">
                    </div>
                    <h3>Agassi Marriott Croos</h3>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                    <p>I love this DVD rental service because it offers a huge selection of movies, including many
                        hard-to-find classics. The DVDs arrive on time, and they are in good condition. I also
                        appreciate
                        their excellent customer support. If I ever have a problem, they're quick to resolve it. My only
                        complaint is that they don’t always have the latest releases right away, but I can usually find
                        something to watch. Overall, it's still a great service for movie lovers like me.</p>
                </div>

            </div>
            <div class="container text-white">
                <div class="box">
                    <div class="rev-img">
                        <img src=" OIP3.jpg" alt="" style="border-radius: 50%; width: 150px;height: 150px;">
                    </div>
                    <h3> Selventhiran AnneTharsana</h3>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>

                    </div>
                    <p>As someone with a packed schedule, I don’t have time to stream movies online or deal with
                        buffering
                        issues. Renting DVDs is convenient for me because I can watch them at my own pace. I really like
                        that this service lets me keep the DVDs for a few days before returning them. The downside is
                        that
                        the subscription plans are a bit pricey, especially when I don’t always have time to watch every
                        movie I rent. Still, it’s useful for people who want flexibility.</p>
                </div>

            </div>
            <div class="container text-white">
                <div class="box">
                    <div class="rev-img">
                        <img src="OIP2.jpg" alt="" style="border-radius: 50%; width: 150px;height: 150px;">
                    </div>
                    <h3>Thusiyanthi </h3>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                    <p>I’m not a huge movie fan, but I use the DVD rental service occasionally when I want to have a
                        movie
                        night with friends or family. The service is easy to use, and they have a decent collection of
                        popular titles. I wish there were more deals or discounts for casual renters like me, but
                        overall,
                        it’s a convenient option when I want to rent something. I probably won’t subscribe regularly,
                        but
                        it’s good for occasional use.</p>
                </div>
            </div>
        </div>

    </section>

</div>
<div class="div-footer">
    <footer class="footer text-white">
        <div class="footer-item">
            <p>Email:-CineFlix&#64;gmail.com</p>
        </div>
        <div class="footer-item">
            <p><i class="bi bi-c-circle"></i>All Rights Reserved by CineFlix 2024</p>
        </div>
        <div class="footer-item">
            <p>Contactus:-0712345678</p>
        </div>
    </footer>
</div>