
<nav class="navbar  border-bottom border-body" data-bs-theme="dark" style="background-color: rgb(4, 4, 43);">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand d-flex" href="#">
        <img
          src="reelbox.jpg"
          alt="Logo"
          width="60"
          height="60"
          class="d-inline-block align-text-top"
        />
        <h1>
          <span class="cine p-1">Cine</span>
          <span class="flex">Flix</span>
        </h1>
      </a>
      <div>
        <button type="button" class="btn m-3"><i class="bi bi-bell-fill"></i></button>
        <button id="btn" class="btn btn-outline-light" type="submit" [routerLink]="['']">LogOut</button>
      </div>
      
    </div>
  </nav>
  
  <main class="d-flex flex-nowrap">
  
    <div
      class="d-flex flex-column flex-shrink-0 p-3  "
      style="width: 280px ;background-color: rgb(4, 4, 43);height: 650px;"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
      >
        <svg class="bi pe-none me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Menu</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <button class="btn text-white" >
            <i class="bi bi-house"></i> Home
          </button>
        </li>
        <li class="nav-item">
          <button class="btn text-white" >
            <i class="bi bi-plus-circle"></i> Review
          </button>
        </li>
        <li class="nav-item">
          <button class="btn text-white" >
            <i class="bi bi-people"></i> Profile
          </button>
        </li>
        <li class="nav-item">
          <button class="btn text-white">
            <i class="bi bi-collection"></i> AddComment
          </button>
        </li>
       
      </ul>
    </div>
    <!-- Home Page -->
    <div class="b-example-divider b-example-vr" style="height: 900px"></div>
    <div style="width: 80%" class="shadow p-4 m-1 rounded">
      <div class="container">
        <h1>DVD Rental Managment</h1>
        <br>
   
        <div class="form-outline" data-mdb-input-init>
         <input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
       </div>
      </div>
      <br>
      <div class="Section">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="\Maharaja.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Movie Name:Maharaja</h3>
            <b class="card-text">Copies:</b><br>
            <a href="#" class="btn btn-primary"> Rent Now</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="\GOAT.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Movie Name:Goat</h3>
            <b class="card-text">Copies:</b><br>
            <a href="#" class="btn btn-primary"> Rent Now</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="\Kanguva.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Movie Name:Kanguva</h3>
            <b class="card-text">Copies:</b><br>
            <a href="#" class="btn btn-primary"> Rent Now</a>
          </div>
        </div>

      </div>
    
     
    

   

  
   